@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/Noto_Serif/NotoSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Prata';
  src: url('/fonts/Prata/Prata-Regular.ttf') format('truetype');
}
